@import "@material/textfield/mdc-text-field";
@import "@material/button/mdc-button";
@import "@material/layout-grid/mdc-layout-grid";

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  padding-top: 0.1px; // Prevent header h1 margin from pushing body down
}

// Login page styles

.button-container {
  display: flex;
  width: 300px;
  margin: auto;
  text-align: left;
}

.button-container button {
  margin: 3px;
}

.header {
  text-align: center;
}

.username,
.password {
  display: block;
  width: 300px;
  margin: 20px auto;
}

// Home page styles

.home {
  display: flex; // Flexbox is used to easily arrange the persistent drawer and content side-by-side
}

@media (max-width: 500px) {
  .kildarelogo {
    width: 200px;
    text-align: center;
    margin: 5%;
  }
}

@media (min-width: 500px) {
  .kildarelogo {
    width: 400px;
    text-align: center;
    margin: 50% 10%;
  }
}
